@page "/drawresult"

@using Lottery.Data
@inject IThunderBallService ThunderBallService

<h1>ThunderBall Result</h1>

<div class="input-group mb-3 ">
    <input type="text" class="form-control textbox-parameters" id="@DrawNumber" @bind="@DrawNumber">
    <button class="btn btn-primary" @onclick="Select">Select</button>
</div>


@if (results == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @((MarkupString)guessResults)
}

@code
{
    IList<Ticket> guesses = new List<Ticket>();
    private string DrawNumber { get; set; } = "";
    string guessResults;

    Data.DrawResult results = new Data.DrawResult();

    protected override async Task OnInitializedAsync()
    {
        guesses = await ThunderBallService.GetLastGuessesAsync();
        DrawNumber = guesses[0].DrawNumber;

        results = await ThunderBallService.GetDrawResultAsync(DrawNumber);
        GuessResults();
        DrawNumber = results.DrawNumber;
    }

    public async Task Select()
    {
        results = await ThunderBallService.GetDrawResultAsync(DrawNumber);
        GuessResults();
    }

    public string GuessResults()
    {
        guessResults = "<table class='table table-bordered table-hover'>";
        guessResults += "<thead><tr><th><span>DrawNumber</span></th><th><span>Ball1</span></th><th><span>Ball2</span></th><th><span>Ball3</span></th>";
        guessResults += "<th><span>Ball4</span></th><th><span>Ball5</span></th><th><span>Thunderball</span></th><th><span></span></th></tr></thead><tbody>";
        guessResults += "<tr>";

        if (results.DrawBalls != null)
        {
            guessResults += $"<td>{results.DrawNumber}</td>";

            foreach (var ball in results.DrawBalls)
            {
                guessResults += $"<td>{ball}</td>";
            }
            guessResults += $"<td>{results.DrawThunderBall}</td>";
            guessResults += $"<td> </td>";

        }
        else
        {
            guessResults += $"<td></td>";
            guessResults += $"<td></td>";
            guessResults += $"<td></td>";
            guessResults += $"<td></td>";
            guessResults += $"<td></td>";
            guessResults += $"<td></td>";
            guessResults += $"<td></td>";

        }
        guessResults += "</tr>";
        guessResults += "</tbody></table>";

        guessResults += "<table class='table table-bordered table-hover'>";
        guessResults += "<thead><tr><th><span>DrawNumber</span></th><th><span>Ball1</span></th>";
        guessResults += "<th><span>Ball2</span></th><th><span>Ball3</span></th><th><span>Ball4</span></th><th><span>Ball5</span></th><th><span>Thunderball</span></th><th><span>Win</span></th></tr></thead>";
        guessResults += "<tbody>";

        foreach (var guess in results.GuessResults)
        {
            guessResults += "<tr>";
            guessResults += $"<td>{results.DrawNumber}</td>";

            string Win = string.Empty;
            foreach( var item in guess.GuessBall)
            {
                if( item.Match && !item.Thunderball)
                {
                    guessResults += $"<td bgcolor=#fff00>{item.Ball}</td>";
                    Win += "&#9745;";
                }
                else if (item.Match && item.Thunderball)
                {
                    guessResults += $"<td bgcolor=#fff00>{item.Ball}</td>";
                    Win += "&#9745;";
                }
                else if (!item.Match && item.Thunderball)
                {
                    guessResults += $"<td>{item.Ball}</td>";
                    Win += "&#9744;";
                }
                else
                {
                    guessResults += $"<td>{item.Ball}</td>";
                    Win += "&#9744;";
                }
            }

            if( guess.Win > 0)
            {
                Win += "&#128512; £" + guess.Win;
            }

            guessResults += $"<td>{Win}</td>";
            guessResults += "</tr>";
        }
        guessResults += "</tbody></table>";

        return guessResults;
    }
}

