@page "/image"



<h3>Image</h3>

<svg height="300" width="300">
    <circle cx="120" cy="120" r="30%" fill="#117da9" />
    <text x="50" y="120" fill="white">Center Text in SVG Circle</text>
</svg>

@code {
    string base64Image;

    protected override async Task OnInitializedAsync()
    {


    }
}
